@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
  padding:0%;
  margin:0%;
  box-sizing: border-box;
}
body{
  font-family: 'Quicksand', sans-serif;
  background:whitesmoke;
}
/* navbar */
.navbar-container {
  background:rgb(241, 113, 113);
  padding:2px;
  display:flex;
  justify-content:space-between;
}
.brand-title{
  display:flex;
  margin-left:10px;
  color:white;
}
.brand-title img {
  width:45px;
  align-self:center;
}
.brand-title h2{
  align-self:center;
}
.navigation {
  display:flex;
  justify-content:space-around;
  width:300px;
  align-self:center;
}
.navigation a {
  text-decoration:none;
  color:white;
}
/* end navbar */

/* footer */
.footer-container{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
}
.footer-container p {
  text-align:center;
  color:rgba(0, 0, 0, 0.288);
}
/* end footer */

/* header */
.header-container h1,
.header-container p {
  text-align: center;
}
.header-title {
  text-transform:uppercase;
  font-weight: bolder;
  padding:10px;
  color:rgb(80, 71, 71);
}
/* end header */

/* students box */
.student-main-container{
  display:flex;
  flex-wrap: wrap;
}
.student-container {
  margin-left:1%;
}
.student-box {
  background: white;
  margin:3px;
  width:300px;
  padding:10px;
  border-radius:8px;
  border:1px solid rgb(235, 222, 222);
  transition:0.4s;
  cursor: pointer;
}
.student-box:hover{
  box-shadow: 10px 10px rgba(0, 0, 0, 0.664);
}
.student-box .view-student {
  background:rgb(78, 147, 236);
  color:white;
  font-family: 'Quicksand', sans-serif;
  padding:4px;
  margin:5px;
  border-radius:8px;
  border:1px solid rgb(243, 219, 219);
  cursor:pointer;
  transition:0.4s;
  width:50px;
}
.student-box .view-student:hover {
  background: white;
  color:black;
}
.student-box .delete-student {
  background:rgb(224, 58, 58);
  color:white;
  font-family: 'Quicksand', sans-serif;
  padding:4px;
  border-radius:8px;
  border:1px solid rgb(243, 219, 219);
  cursor:pointer;
  transition:0.4s;
}
.student-box .delete-student:hover {
  background: white;
  color:black;
}
.student-box h1{
  color:rgb(80, 71, 71);
}

/* end of students box */

/* search container */
.search-box {
  display:flex;
  width:400px;
  margin-left:10px;
}
.search-btn {
  position:relative;
  margin-left:20px;
}
.search-btn button {
  font-family: 'Quicksand', sans-serif;
  position:absolute;
  bottom:0;
  padding:5px;
  border:1px solid rgb(212, 195, 195);
  border-radius:4px;
  cursor:pointer;
  transition:0.4s;
}
.search-btn button:hover {
  background: rgb(77, 114, 236);
  color:white;
}
.search-box input {
  outline:none;
  padding:5px;
  border-radius:4px;
  border:1px solid rgb(231, 212, 212);
}
/* create form */
.create-title{
  text-transform: uppercase;
  margin-top:10px;
  color:rgb(80, 71, 71);

}
.create-container h1,
.create-container p{
  text-align:center;
}
.create-input{
  margin:5px;
}
.create-input input {
  padding:6px;
  margin:5px;
  border:1px solid rgb(219, 201, 201);
  border-radius:3px;
}
.form-container-main {
  display:flex;
  justify-content:center;
  margin-top:20px;
}
.row-one {
  display:flex;
}
.row-two input {
  width:98.5%;
}
.row-three {
  display:flex;
}
.input-box .bday{
  width:110%;
  padding:4px;
}
.row-four {
  display:flex;
}
.input-box .note{
  width:195%;
}
.submitbtn {
  background:rgb(47, 133, 231);
  font-family: 'Quicksand', sans-serif;
  font-weight:bold;
  color:white;
  padding:5px;
  border:1px solid rgb(226, 210, 210);
  border-radius:5px;
  transition:0.4s;
  cursor:pointer;
}
.submitbtn:hover {
  background:rgb(236, 106, 106);
  color:black;
}
.submit-box {
  display:flex;
  justify-content:center;
}
/* end of create form */

/* loading text */
.pending {
  display:flex;
  justify-content:center;
  margin-top:10%;
  position:absolute;
  margin-left:148px;
}
/* end of loading text */

/* student details */
.detail-title{
  color:rgb(80, 71, 71);
}
.details-container {
  display:flex;
  flex-direction:column;
  justify-content:center;
}
.details-container h1 {
  text-align:center;
  text-transform:uppercase;
  margin-top:10px;
}
.details-container p {
  text-align: center;
}
.student-details {
  margin-left:38%;
  margin-top:20px;
  background: linear-gradient(to bottom, #ffffff 0%, #ff0000 100%);

  width:300px;
  border-radius:5px;
  padding:10px;
}
.about-profile{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
}
.about h2 {
  text-align:center;
}
.image-profile{
  display:flex;
  justify-content:center;
}
.image-profile img {
  width:200px;
  border-radius:200px;
}
.about-me {
  background:white;
  padding:5px;
  border:1px solid rgb(197, 183, 183);
  border-radius:10px;
}
.loading {
  text-align:center;
    margin-top:15%;
}
.about-me button{
  font-family: 'Quicksand', sans-serif;
  background:rgb(235, 90, 90);
  color:white;
  font-weight:bold;
  margin-top:10px;
  padding:5px;
  border:1px solid rgb(212, 195, 195);
  border-radius:4px;
  cursor:pointer;
  transition:0.4s;
}
.about-me button:hover{
  background:white;
  color:black;
}
.deletebtn{
  display:flex;
  justify-content:center;
}

/* end student details */